@{
    ViewBag.Title = "苏州竹文软件工作室";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/Scripts/highslide/highslide.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/raphael-min.js"></script>
    <script src="~/Scripts/jquery/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/highslide/highslide-with-gallery.min.js"></script>
    <script src="~/Scripts/Views/Index.js"></script>
}
<div id="animation">
    <div id="circle"></div>
</div>
<div id="header1" class="header"></div>
<div class="content c1">
    <div class="products">
        <h2>成功案例</h2>&nbsp;&nbsp;@Html.ActionLink("更多>>", "Index", "Case", new { }, new { @class = "more" })
        <div class="anlisCon">
            <ul class="anlis">
                <li>
                    <a href="/Files/a_e.jpg" class="highslide" onclick="return hs.expand(this)">
                        @*原图*@
                    <img class="anliImg" src="/Files/a.jpg" />@*缩略图*@
                </a>
                <div class="highslide-caption">
                    瑞乐宝贝早教官网
                </div>
            </li>
            <li>
                <a href="/Files/b_e.jpg" class="highslide" onclick="return hs.expand(this)">
                    <img class="anliImg" src="/Files/b.jpg" />
                </a>
                <div class="highslide-caption">
                    名园茗在线茶叶购物平台
                </div>
            </li>

            <li>
                <a href="/Files/d_e.jpg" class="highslide" onclick="return hs.expand(this)">
                    <img class="anliImg" src="/Files/d.jpg" />
                </a>
                <div class="highslide-caption">
                    拓恩国际后台管理系统
                </div>
            </li>
            <li>
                <a href="/Files/c_e.jpg" class="highslide" onclick="return hs.expand(this)">
                    <img class="anliImg" src="/Files/c.jpg" />
                </a>
                <div class="highslide-caption">
                    城堡投资有限公司官网
                </div>
            </li>
            <li>
                <a href="/Files/e_e.jpg" class="highslide" onclick="return hs.expand(this)">
                    <img class="anliImg" src="/Files/e.jpg" />
                </a>
                <div class="highslide-caption">
                    艾斯柏能源集团(Esper Energy Group)官网
                </div>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>
</div>
<div id="header2" class="header" style="height: 52px"></div>
<div class="content c2">
    <div class="aboutUs">
        <h2>关于我们</h2>
        <div class="text">
            <div class="left">
                苏州竹文软件工作室<br />
                Suzhou bamboo software studio<br />
                成立于2014年3月<br />
                Founded in March 2014<br />
                我们是一个年轻的团队，员工平均年龄23<br />
                We are a young team, the staff average age 23<br />
                我们拥有的是活力，激情以及青春<br />
                All we have is energy, passion and youth<br />
                我们要做的是不断前进，不断进步<br />
                We need to do is move forward and progress<br />
                我们提供专业的软件设计，开发解决方案<br />
                We provide professional software design and development solutions<br />
                竭诚为您服务<br />
                Serve you wholeheartedly<br />
                期待与您合作！<br />
                Look forward to cooperation with you!<br />
            </div>
            <div class="right">
                <div class="rcentext">
                    <img src="~/Files/erwei.png" width="128" />
                </div>
                <div class="rcentext2">
                    微信扫一扫，关注我们<br/>
                    Tel:15250471220<br />
                    Email:772413635@qq.com
                </div>

            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

