@{
    ViewBag.Title = "苏州竹文软件工作室";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header1" class="header"></div>
<div class="maincontent">
    <div class="section section1">
        <div class="sectionText">
            <label class="sectionTitle">AnyCode开发框架</label>
            <label class="sectionEn">ANYCODE DEVELOPMENT FRAMEWORK</label>
            <label class="sectionRemark">
                轻量级系统框架，为您节省80%
                <sup>+</sup>的工作量，让你更专注于业务开发
            </label>
        </div>
    </div>
    <div class="section section2">
        <div class="sectionText">
            <label class="sectionTitle">自由多变的主题</label>
            <label class="sectionEn">VARIOUS FREE THEME</label>
            <label class="sectionRemark">
                专业的设计，一流的配色，让您的系统
                极致尽美
            </label>
        </div>
    </div>
</div>