@model WSoft.Models.ws_Company
@using WSoft.Controllers
@Html.LableValueFor(c => c.CompanyName, new { @class = "icp" })&nbsp;&nbsp;
<a class="icp" href="http://www.miitbeian.gov.cn/" target="_blank">@Html.LableValueFor(c => c.ICP, new { @class = "icp" })</a>
<a class="icp">| 使用IE7以上浏览器以获得最佳浏览效果</a>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc049a51ca8d06a3f96d785fed3602785' type='text/javascript'%3E%3C/script%3E"));
</script>